workflows/Definitivo_Filtro_Cappa_Supabase_backup_20260528.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-05-28T07:23:55.538Z",
    "createdAt": "2026-05-20T09:01:49.833Z",
    "id": "AK1TBv9sw4twK8NO",
    "name": "Definitivo Filtro Cappa_Supabase",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "q": "-label:FiltroK-Processed -from:d.dalmolin07@gmail.com",
            "readStatus": "unread"
          }
        },
        "id": "6bc8ba74-ce4d-48fa-94b1-52f3dbc0759b",
        "name": "Ascolta Nuove Email Gmail",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          -2912,
          576
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "sender",
                "value": "={{ $json.From }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "subject",
                "value": "={{ $json.Subject }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "body",
                "value": "={{ $json.text ?? ($json.html ? $json.html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim() : $json.snippet) }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "threadId",
                "value": "={{ $json.threadId }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "messageId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ],
            "assignments[2]": {
              "value": "={{ $json.text ?? ($json.html ? $json.html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim() : $json.snippet) }}"
            }
          },
          "options": {}
        },
        "id": "dafd64fe-3b3f-4f76-a8cb-b444075c7907",
        "name": "Prepara Dati Email",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2720,
          576
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un classificatore di email clienti.\n\nIl tuo compito è analizzare il contenuto dell’email e classificare la richiesta in UNA SOLA categoria, restituendo esclusivamente un JSON valido.\n\nNON aggiungere testo, NON usare markdown, NON inserire spiegazioni.\n\nCATEGORIE:\n- \"SPEDIZIONE_CON_CODICE\": il cliente chiede informazioni su una spedizione E nel testo è presente un codice identificativo esplicito (numero ordine, codice tracking, ID spedizione)\n- \"SPEDIZIONE_SENZA_CODICE\": il cliente chiede informazioni su una spedizione ma NON è presente alcun codice identificativo valido\n- \"QNA\": qualsiasi altra richiesta (prodotti, resi, pagamenti, informazioni generiche, reclami non legati a una spedizione specifica)\n\nDEFINIZIONE DI CODICE VALIDO:\n- sequenze alfanumeriche o numeriche usate come identificativo ordine/spedizione\n- esempi: \"12345\", \"#12345\", \"ORD-12345\", \"TRK987654\"\n- NON sono codici validi: numeri di telefono, CAP, date, importi\n\nREGOLE:\n- Se il cliente chiede stato spedizione SENZA codice → \"SPEDIZIONE_SENZA_CODICE\"\n- Se è presente un codice valido → \"SPEDIZIONE_CON_CODICE\"\n- Se ci sono più numeri, scegli quello più probabile come codice ordine/spedizione\n- Se NON sei sicuro → usa \"QNA\"\n- NON inventare mai un codice\n\nOUTPUT OBBLIGATORIO:\nRestituisci SOLO questo JSON:\n\n{\n  \"categoria\": \"SPEDIZIONE_CON_CODICE | SPEDIZIONE_SENZA_CODICE | QNA\",\n  \"codice_spedizione\": \"string oppure null\"\n}\n\nREGOLE OUTPUT:\n- Se non esiste un codice → \"codice_spedizione\": null\n- NON aggiungere testo prima o dopo il JSON\n- NON usare markdown\n- Il JSON deve essere valido\n\nOggetto email: {{ $('Prepara Dati Email').item.json.subject }}\nTesto email: {{ $('Prepara Dati Email').item.json.body }}",
          "batching": {}
        },
        "id": "77f0b880-7d73-42f5-b78f-912fa255467a",
        "name": "Classifica Tipo Richiesta",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -2512,
          576
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0
          }
        },
        "id": "d1588891-6331-4f1a-9487-d2bd746c54f3",
        "name": "OpenAI - Classificatore",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -2512,
          752
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const source = $input.first().json;\nconst raw = source.output ?? source.text ?? '';\n\nlet parsed = null;\n\n// 1. Prova parsing diretto JSON\ntry {\n  const clean = String(raw)\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n\n  parsed = JSON.parse(clean);\n} catch (e) {\n  // 2. Prova a estrarre un JSON dal testo\n  try {\n    const clean = String(raw)\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n\n    const match = clean.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      parsed = JSON.parse(match[0]);\n    }\n  } catch (e2) {\n    parsed = null;\n  }\n}\n\n// 3. Se non c'è JSON valido, prova lettura testuale\nlet categoria = null;\nlet codice_spedizione = null;\n\nif (parsed && typeof parsed === 'object') {\n  categoria = parsed.categoria ?? null;\n  codice_spedizione = parsed.codice_spedizione ?? null;\n} else {\n  const lower = String(raw).toLowerCase();\n\n  if (lower.includes('spedizione con codice')) {\n    categoria = 'SPEDIZIONE_CON_CODICE';\n  } else if (lower.includes('spedizione senza codice')) {\n    categoria = 'SPEDIZIONE_SENZA_CODICE';\n  } else if (lower.includes('qna') || lower.includes('q&a')) {\n    categoria = 'QNA';\n  }\n\n  const codiceMatch = String(raw).match(/codice(?:_spedizione)?[\"':\\s]*([A-Za-z0-9#\\-_]+)/i);\n  if (codiceMatch) {\n    codice_spedizione = codiceMatch[1];\n  }\n}\n\n// 4. Normalizzazione categoria\nif (typeof categoria === 'string') {\n  const normalized = categoria.trim().toLowerCase();\n\n  if (normalized === 'spedizione_con_codice' || normalized === 'spedizione con codice') {\n    categoria = 'SPEDIZIONE_CON_CODICE';\n  } else if (normalized === 'spedizione_senza_codice' || normalized === 'spedizione senza codice') {\n    categoria = 'SPEDIZIONE_SENZA_CODICE';\n  } else if (normalized === 'qna' || normalized === 'q&a') {\n    categoria = 'QNA';\n  } else {\n    categoria = 'QNA';\n  }\n} else {\n  categoria = 'QNA';\n}\n\nreturn [{\n  json: {\n    categoria,\n    codice_spedizione: codice_spedizione ?? null\n  }\n}];"
        },
        "id": "5f6b0e49-e0c0-401e-988b-da647bd7902c",
        "name": "Parsa Classificazione AI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          576
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "SPEDIZIONE_CON_CODICE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "009c41c3-eae5-46c8-83cc-d255702e1191"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "spedizione_con_codice"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "SPEDIZIONE_SENZA_CODICE",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "41bdb40d-5104-43c8-b4bb-5a700f3e0edc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "spedizione_senza_codice"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.categoria }}",
                      "rightValue": "QNA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "43bef64c-facc-4270-aa52-100119b15f72"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "qna"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "3976f8f8-43bc-4791-a52e-b6449b7fd015",
        "name": "Router per Tipo Richiesta",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.1,
        "position": [
          -1904,
          544
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0
          }
        },
        "id": "479fd7b6-81b1-4f2e-88e6-7a3f7d2e0e09",
        "name": "OpenAI - Estrai Ordine",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1424,
          560
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c04",
                "leftValue": "={{ $json.text.trim().toUpperCase() }}",
                "rightValue": "ASSENTE",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "498de863-9d94-46af-bae4-63666b8df520",
        "name": "Numero Ordine Presente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1152,
          400
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = $json.text || $json.output || '';\nconst cleaned = String(raw)\n  .trim()\n  .replace(/```/g, '')\n  .replace(/^#+/, '')\n  .replace(/^ORD-?/i, '')\n  .replace(/\\s+/g, '');\n\nreturn {\n  json: {\n    ...$json,\n    order_number: cleaned\n  }\n};"
        },
        "id": "a3597755-02f8-4deb-8101-6832ea7e6864",
        "name": "Normalizza Numero Ordine",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          304
        ]
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "ps_order_carrier",
            "mode": "name"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "id_order",
                "value": "={{ $json.order_number }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0295ca24-c3ff-4548-bea3-0e5b30c9bd66",
        "name": "Select rows from a table",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -608,
          304
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "mySql": {
            "id": "2IeEYPybHF8b2rpg",
            "name": "MySQL account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const orderNum = $('Normalizza Numero Ordine').first().json.order_number;\nconst allRows = $input.all();\nconst match = allRows.find(r => String(r.json.numero_ordine || '').trim() === orderNum);\nreturn [{\n  json: {\n    ordine_trovato: !!match,\n    order_number_searched: orderNum,\n    shipping_data: match ? JSON.stringify(match.json) : null\n  }\n}];"
        },
        "id": "cadc864d-fe4f-4d74-a75e-2d0e1366207c",
        "name": "Filtra Ordine",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -336,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c05",
                "leftValue": "={{ $json.ordine_trovato }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4633d1c3-56c0-4c30-ab21-7e77221b4248",
        "name": "Ordine Trovato?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -64,
          304
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un assistente clienti professionale.\n\nIl tuo compito è scrivere una risposta email al cliente utilizzando ESCLUSIVAMENTE i dati di spedizione forniti.\n\nREGOLE CRITICHE:\n- Usa SOLO i dati presenti in \"shipping_data\"\n- NON inventare informazioni\n- NON dedurre dati mancanti\n- Se un dato non è presente → NON menzionarlo\n- NON costruire link di tracking se non è già fornito\n\nTONO:\n- Cordiale, professionale, chiaro\n- Linguaggio semplice e comprensibile per il cliente\n\nCONTENUTO:\nSe disponibili, includi:\n- stato della spedizione\n- nome del corriere\n- codice tracking\n- link tracking (solo se presente nei dati)\n\nSTRUTTURA:\n- Apertura naturale (varia leggermente)\n- Corpo con informazioni spedizione\n- Chiusura breve e disponibile\n\nLINEE GUIDA:\n- Non elencare dati in modo tecnico\n- Trasforma i dati in una frase fluida\n- Evita frasi spezzate o incomplete\n\nOUTPUT:\n- Scrivi SOLO il testo dell’email\n- Nessun JSON\n- Nessun markdown\n- Nessuna firma automatica\n- Nessun testo extra\n\nDATI SPEDIZIONE:\n{{ $json.shipping_data }}\n\nRICHIESTA CLIENTE:\n{{ $('Prepara Dati Email').item.json.body }}",
          "batching": {}
        },
        "id": "02b975a2-a4e8-4d1b-9d5e-5ef2e1e24713",
        "name": "Genera Risposta Spedizione",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          208,
          160
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "61867396-6659-4870-9322-1ab0937e897b",
        "name": "OpenAI - Risposta Sped",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          208,
          0
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un assistente clienti.\n\nIl tuo compito è rispondere a un cliente che ha fornito un numero ordine, ma per il quale non è stata trovata alcuna corrispondenza nei sistemi.\n\nREGOLE:\n- NON menzionare errori tecnici o problemi interni\n- NON usare termini tecnici come “spedizione non trovata nel database”\n- Comunica in modo chiaro e rassicurante\n- Tono: cordiale, empatico, professionale\n- Lunghezza: 3-5 frasi\n\nOBIETTIVO:\n- Ringraziare il cliente per il contatto\n- Comunicare che non è stato possibile trovare il riferimento indicato\n- Chiedere gentilmente di verificare il numero ordine\n- Invitare a reinviarlo corretto\n\nLINEE GUIDA:\n- Puoi citare il numero ordine fornito dal cliente\n- Evita tono accusatorio\n- Dai l’idea che il problema sia risolvibile rapidamente\n\nOUTPUT:\n- Scrivi SOLO il testo dell’email\n- Nessun JSON\n- Nessuna firma automatica\n- Nessun testo extra\n\nNumero ordine fornito: {{ $json.order_number_searched }}",
          "batching": {}
        },
        "id": "ae58f52f-495f-4fc5-8153-818eb05f6423",
        "name": "Genera Risposta Ordine Non Trovato",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          208,
          400
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "11dd0b72-9e79-45fe-82d0-733721e1c3e7",
        "name": "OpenAI - Ordine Non Trovato",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          208,
          560
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un assistente clienti. Il cliente chiede della spedizione ma non ha fornito il numero ordine.\n\nScrivi una risposta cortese che chieda il numero ordine.\n- Tono: caldo, professionale\n- Spiega perché serve\n- Lunghezza: 2-4 frasi per il corpo\n- Varia l'apertura\n\nFORMATO OBBLIGATORIO (rispetta esattamente questa struttura, senza blocchi markdown):\nOggetto: <oggetto sintetico della mail>\n\n<corpo del messaggio>\n\nOggetto email cliente: {{ $('Prepara Dati Email').item.json.subject }}",
          "batching": {}
        },
        "id": "dc29f64b-beac-4f59-a680-e2325252400e",
        "name": "Genera Richiesta Numero Ordine",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -880,
          560
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "2f4d4792-71ec-4eae-abb9-d6d0b38ef83f",
        "name": "OpenAI - Richiesta Ordine",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -880,
          736
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Analizza il contenuto dell’email e identifica se è presente un numero ordine o codice spedizione.\n\nDEFINIZIONE:\nUn numero ordine è un identificativo fornito dal cliente, tipicamente:\n- numerico (es: 12345)\n- alfanumerico (es: ORD-12345, TRK987654)\n\nNON sono numeri ordine:\n- numeri di telefono\n- CAP\n- date\n- importi\n\nREGOLE:\n- Se è presente un numero ordine, restituisci SOLO il valore esatto come appare nel testo\n- NON modificare, NON normalizzare, NON aggiungere caratteri\n- Se ci sono più numeri, scegli quello più probabile come identificativo ordine/spedizione\n- NON inventare numeri\n- Se non sei sicuro → rispondi ASSENTE\n\nOUTPUT:\n- SOLO il numero ordine oppure ASSENTE\n- Nessun testo aggiuntivo\n- Nessun markdown\n- Nessuna spiegazione\n\nOggetto: {{ $('Prepara Dati Email').item.json.subject }}\nTesto: {{ $('Prepara Dati Email').item.json.body }}",
          "batching": {}
        },
        "id": "c3913447-f200-470f-b3c7-6a3f80c37514",
        "name": "Estrai Numero Ordine",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -1424,
          400
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
          "subject": "={{ $json.email_subject }}",
          "emailType": "text",
          "message": "={{ $json.email_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -384,
          560
        ],
        "id": "a9349a39-6e78-4b90-959a-daeca07faf7d",
        "name": "Invia Gmail Richiedi Numero Ordine",
        "webhookId": "7aafa613-0d7e-4352-ae04-146529713960",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
        },
        "id": "a8399d0b-4f87-48d8-93b9-334207b28c17",
        "name": "Parsa Oggetto e Corpo Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          560
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
          "subject": "={{ $json.email_subject }}",
          "emailType": "text",
          "message": "={{ $json.email_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          720,
          400
        ],
        "id": "3c37603b-0735-4011-afbc-62ecd9eb7622",
        "name": "Invia Gmail Richiedi Numero Ordine1",
        "webhookId": "e4da7eda-0e56-4220-927d-b7ff268e909e",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
        },
        "id": "5f0b95ea-0215-4635-8938-0f389bc7a4f0",
        "name": "Parsa Oggetto e Corpo Email1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          400
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
          "subject": "={{ $json.email_subject }}",
          "emailType": "text",
          "message": "={{ $json.email_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          752,
          160
        ],
        "id": "d3e57608-ec05-49c4-ba56-4b28aa26d9a9",
        "name": "Invia Gmail Richiedi Numero Ordine2",
        "webhookId": "8ba95981-204c-497c-8409-25de2542bdfa",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
        },
        "id": "c751612c-73af-46cd-9d39-06b7b59d9b11",
        "name": "Parsa Oggetto e Corpo Email2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          160
        ]
      },
      {
        "parameters": {
          "sendTo": "d.dalmolin07@gmail.com",
          "subject": "=Errore sistema MySQL",
          "emailType": "text",
          "message": "=Errore sistema MySQL",
          "options": {}
        },
        "id": "26b9c189-2d6a-43f2-a9c7-849d17f2dfeb",
        "name": "Invia Gmail Interna ad Addetto1",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -128,
          112
        ],
        "webhookId": "0212910f-f9c3-4eb9-b4d6-57455884be3a",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
          "subject": "=Re: {{ $('Ascolta Nuove Email Gmail').item.json.Subject }}",
          "emailType": "text",
          "message": "=Buongiorno, ci scusamo per il disagio ma abbiamo riscontrato un errore nel nostro sistema, a breve risponderemo a tutti le richieste.",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -320,
          112
        ],
        "id": "ebaf582d-b812-479a-9569-039d1cf857a2",
        "name": "Presa in carico cliente1",
        "webhookId": "3a5d46fc-a50f-445f-a152-ee05243f3027",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        }
      },
      {
        "parameters": {
          "tableId": "email_requests",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "id",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.messageId }}"
              },
              {
                "fieldId": "timestamp_arrivo",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.timestamp ?? $now.toISO() }}"
              },
              {
                "fieldId": "mittente_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.sender }}"
              },
              {
                "fieldId": "oggetto_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.subject }}"
              },
              {
                "fieldId": "testo_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.body }}"
              },
              {
                "fieldId": "stato",
                "fieldValue": "risolta_ai"
              },
              {
                "fieldId": "timestamp_risolto",
                "fieldValue": "={{ $now.toISO() }}"
              },
              {
                "fieldId": "risposta_inviata",
                "fieldValue": "={{ $('Parsa e Valida JSON AI1').item.json.response_text }}"
              }
            ]
          }
        },
        "id": "bd87e567-0e7e-4eca-bf10-92660f89a5b7",
        "name": "Log Richiesta AI Handled",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -96,
          928
        ],
        "credentials": {
          "supabaseApi": {
            "id": "6exE1PGVlPWOLmzf",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "email_requests",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "id",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.messageId }}"
              },
              {
                "fieldId": "timestamp_arrivo",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.timestamp ?? $now.toISO() }}"
              },
              {
                "fieldId": "mittente_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.sender }}"
              },
              {
                "fieldId": "oggetto_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.subject }}"
              },
              {
                "fieldId": "testo_email",
                "fieldValue": "={{ $('Prepara Dati Email').item.json.body }}"
              },
              {
                "fieldId": "stato",
                "fieldValue": "in_attesa_addetto"
              }
            ]
          }
        },
        "id": "c4637e7f-0600-491b-8756-4c80df5a9b8a",
        "name": "Log Richiesta Escalated",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          544,
          1168
        ],
        "credentials": {
          "supabaseApi": {
            "id": "6exE1PGVlPWOLmzf",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un assistente clienti cordiale e professionale. Rispondi alle richieste dei clienti basandoti esclusivamente sui contenuti della knowledge base fornita.\n\nREGOLE:\n1. Usa SOLO informazioni presenti nei documenti — non inventare, non dedurre\n2. Se la risposta non è presente → has_answer: false\n3. Se è solo parziale o incerta → has_answer: false\n4. Quando has_answer è true: scrivi una risposta completa, calda e naturale — come se stessi parlando direttamente con il cliente. Inizia salutando, fornisci tutte le informazioni utili, concludi con disponibilità a ulteriori domande.\n\nFORMATO OUTPUT OBBLIGATORIO — solo JSON valido, senza testo aggiuntivo:\n\n{\n  \"has_answer\": true,\n  \"response_text\": \"risposta completa, cordiale e ben strutturata per il cliente\",\n  \"summary\": \"max 4 parole\"\n}\n\nSe has_answer è false:\n{\n  \"has_answer\": false,\n  \"response_text\": \"\",\n  \"summary\": \"max 4 parole\"\n}\n\n--- KNOWLEDGE BASE ---\n{{ $json.docs_text }}\n\n{{ $json.sheets_kb ? '--- FAQ ---\\n' + $json.sheets_kb : '' }}\n\n--- RICHIESTA CLIENTE ---\nOggetto: {{ $('Prepara Dati Email').item.json.subject }}\nTesto: {{ $('Prepara Dati Email').item.json.body }}",
          "batching": {}
        },
        "id": "f987d256-a508-4eba-b279-1d073485480f",
        "name": "Genera Risposta da KB1",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -1104,
          1040
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "f47b1ec8-c11c-4317-9556-7400a071b5ae",
        "name": "OpenAI - Genera KB1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1104,
          1216
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "let parsed;\ntry {\n  const raw = $json.text || $json.output || '';\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  parsed = { has_answer: false, response_text: '', summary: 'Errore parsing risposta AI' };\n}\n\nreturn { json: {\n  has_answer: parsed.has_answer === true,\n  response_text: parsed.response_text || '',\n  summary: parsed.summary || ''\n} };"
        },
        "id": "fe691808-b671-495b-9a34-5e391649b160",
        "name": "Parsa e Valida JSON AI1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          1040
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c06",
                "leftValue": "={{ $json.has_answer }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a598c5f1-efe0-493c-ad49-0518d4f5482a",
        "name": "Risposta Disponibile?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -384,
          1040
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Sei un assistente clienti cordiale e professionale.\n\nIl tuo compito è inviare una conferma di presa in carico della richiesta del cliente.\n\nREGOLE:\n- NON spiegare che non sei riuscito a rispondere\n- NON menzionare AI, documenti, sistemi o processi interni\n- Comunica che la richiesta è stata ricevuta e verrà gestita dal team\n- Tono: caldo, rassicurante, professionale\n- Messaggio: 2-3 frasi complete e naturali\n\nSTRUTTURA MESSAGGIO:\n- Frase 1: conferma ricezione della richiesta (puoi riprendere brevemente l'argomento)\n- Frase 2: rassicurazione sulla presa in carico da parte del team\n- Frase 3 (opzionale): tempi indicativi o disponibilità a ulteriori domande\n\nOUTPUT OBBLIGATORIO - rispetta esattamente questo formato, nessun testo extra:\nOggetto: [oggetto breve e pertinente, max 8 parole]\n\n[messaggio completo per il cliente]\n\nOggetto email ricevuta: {{ $('Prepara Dati Email').item.json.subject }}",
          "batching": {}
        },
        "id": "0138ae61-fdda-4f11-ae0d-c578a2d6c58b",
        "name": "Genera Email Presa in Carico1",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -112,
          1168
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "54dd6f15-98ca-4a96-9f61-b1d552bb0e70",
        "name": "OpenAI - Presa in Carico1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -112,
          1344
        ],
        "credentials": {
          "openAiApi": {
            "id": "ban0bSnAtf1pvCgV",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "d.dalmolin07@gmail.com",
          "subject": "={{ '[RICHIESTA CLIENTE] ' + $('Prepara Dati Email').item.json.subject }}",
          "emailType": "text",
          "message": "={{ 'Mittente: ' + $('Prepara Dati Email').item.json.sender + '\\n\\nOggetto: ' + $('Prepara Dati Email').item.json.subject + '\\n\\nRichiesta:\\n' + $('Prepara Dati Email').item.json.body + '\\n\\n---\\nSintesi AI: ' + $('Parsa e Valida JSON AI1').item.json.summary }}",
          "options": {}
        },
        "id": "7dabfdfa-dc57-4f68-a73e-7332d8a141dc",
        "name": "Invia Gmail Interna ad Addetto2",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1024,
          1168
        ],
        "webhookId": "6188781c-1f1b-47b9-8759-734ce7651bfd",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { docs_text: 'Nessuna FAQ disponibile.', totale_righe: 0 } }];\n}\nconst righe = items.map((it, i) => `Q${i+1}: ${it.json.domanda ?? ''}\\nA${i+1}: ${it.json.risposta ?? ''}`);\nreturn [{ json: { docs_text: righe.join('\\n\\n'), totale_righe: items.length } }];"
        },
        "id": "833d7037-4d35-44a1-8e45-be79c8d67cb0",
        "name": "Estrai Testo da Google Docs1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1376,
          1040
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
          "subject": "={{ $('Parsa e Valida JSON AI1').item.json.summary }}",
          "emailType": "text",
          "message": "={{ $('Parsa e Valida JSON AI1').item.json.response_text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          160,
          928
        ],
        "id": "6812a84f-3713-4104-96d1-60e332f31683",
        "name": "Send a message",
        "webhookId": "e92bbd60-7986-49fe-b8b5-d1a0f7946a19",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\nlet subject, body;\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\nreturn { json: { email_subject: subject, email_body: body } };"
        },
        "id": "6ad9c42f-d507-4344-8645-c94b4a5b49da",
        "name": "Parsa Oggetto e Corpo Email Presa in Carico1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          1168
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
          "subject": "={{ $('Parsa Oggetto e Corpo Email Presa in Carico1').item.json.email_subject }}",
          "emailType": "text",
          "message": "={{ $('Parsa Oggetto e Corpo Email Presa in Carico1').item.json.email_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          816,
          1168
        ],
        "id": "52721c17-633c-4405-b565-9e45f23720ff",
        "name": "Presa in carico cliente2",
        "webhookId": "1c646cae-875f-4797-97a6-303c44f4dec7",
        "credentials": {
          "gmailOAuth2": {
            "id": "VyeYiG7kPYZqb6Sm",
            "name": "Gmail Admin Attivo"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "kb_faq",
          "returnAll": true,
          "filterType": "none"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1568,
          1040
        ],
        "id": "dc7f3145-74ad-4692-a100-76425d350723",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "6exE1PGVlPWOLmzf",
            "name": "Supabase account"
          }
        }
      }
    ],
    "connections": {
      "Ascolta Nuove Email Gmail": {
        "main": [
          [
            {
              "node": "Prepara Dati Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Dati Email": {
        "main": [
          [
            {
              "node": "Classifica Tipo Richiesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Classificatore": {
        "ai_languageModel": [
          [
            {
              "node": "Classifica Tipo Richiesta",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Classifica Tipo Richiesta": {
        "main": [
          [
            {
              "node": "Parsa Classificazione AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsa Classificazione AI": {
        "main": [
          [
            {
              "node": "Router per Tipo Richiesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router per Tipo Richiesta": {
        "main": [
          [
            {
              "node": "Estrai Numero Ordine",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Genera Richiesta Numero Ordine",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Estrai Ordine": {
        "ai_languageModel": [
          [
            {
              "node": "Estrai Numero Ordine",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Numero Ordine Presente?": {
        "main": [
          [
            {
              "node": "Normalizza Numero Ordine",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Normalizza Numero Ordine": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Filtra Ordine",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Presa in carico cliente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra Ordine": {
        "main": [
          [
            {
              "node": "Ordine Trovato?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ordine Trovato?": {
        "main": [
          [
            {
              "node": "Genera Risposta Spedizione",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Genera Risposta Ordine Non Trovato",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Risposta Sped": {
        "ai_languageModel": [
          [
            {
              "node": "Genera Risposta Spedizione",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Genera Risposta Spedizione": {
        "main": [
          [
            {
              "node": "Parsa Oggetto e Corpo Email2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Ordine Non Trovato": {
        "ai_languageModel": [
          [
            {
              "node": "Genera Risposta Ordine Non Trovato",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Genera Risposta Ordine Non Trovato": {
        "main": [
          [
            {
              "node": "Parsa Oggetto e Corpo Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Richiesta Ordine": {
        "ai_languageModel": [
          [
            {
              "node": "Genera Richiesta Numero Ordine",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Genera Richiesta Numero Ordine": {
        "main": [
          [
            {
              "node": "Parsa Oggetto e Corpo Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Estrai Numero Ordine": {
        "main": [
          [
            {
              "node": "Numero Ordine Presente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsa Oggetto e Corpo Email": {
        "main": [
          [
            {
              "node": "Invia Gmail Richiedi Numero Ordine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsa Oggetto e Corpo Email1": {
        "main": [
          [
            {
              "node": "Invia Gmail Richiedi Numero Ordine1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsa Oggetto e Corpo Email2": {
        "main": [
          [
            {
              "node": "Invia Gmail Richiedi Numero Ordine2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Presa in carico cliente1": {
        "main": [
          [
            {
              "node": "Invia Gmail Interna ad Addetto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Genera Risposta da KB1": {
        "main": [
          [
            {
              "node": "Parsa e Valida JSON AI1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Genera KB1": {
        "ai_languageModel": [
          [
            {
              "node": "Genera Risposta da KB1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Parsa e Valida JSON AI1": {
        "main": [
          [
            {
              "node": "Risposta Disponibile?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Risposta Disponibile?1": {
        "main": [
          [
            {
              "node": "Log Richiesta AI Handled",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Genera Email Presa in Carico1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Genera Email Presa in Carico1": {
        "main": [
          [
            {
              "node": "Parsa Oggetto e Corpo Email Presa in Carico1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - Presa in Carico1": {
        "ai_languageModel": [
          [
            {
              "node": "Genera Email Presa in Carico1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Estrai Testo da Google Docs1": {
        "main": [
          [
            {
              "node": "Genera Risposta da KB1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Estrai Testo da Google Docs1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Richiesta AI Handled": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsa Oggetto e Corpo Email Presa in Carico1": {
        "main": [
          [
            {
              "node": "Log Richiesta Escalated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Richiesta Escalated": {
        "main": [
          [
            {
              "node": "Presa in carico cliente2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Presa in carico cliente2": {
        "main": [
          [
            {
              "node": "Invia Gmail Interna ad Addetto2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Ascolta Nuove Email Gmail": {
        "Ascolta Nuove Email Gmail": {
          "lastTimeChecked": 1779951674,
          "possibleDuplicates": [
            "19e6d63303d15552"
          ]
        }
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "89c42770-7084-4625-9832-294de1795658",
    "activeVersionId": "89c42770-7084-4625-9832-294de1795658",
    "versionCounter": 82,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-05-20T09:50:43.998Z",
        "createdAt": "2026-05-20T09:50:43.998Z",
        "role": "workflow:owner",
        "workflowId": "AK1TBv9sw4twK8NO",
        "projectId": "OgFqTLB6ukQA8sqO",
        "project": {
          "updatedAt": "2026-05-20T09:50:22.000Z",
          "createdAt": "2026-05-20T09:50:07.733Z",
          "id": "OgFqTLB6ukQA8sqO",
          "name": "Filtro Cappa _ supabase",
          "type": "team",
          "icon": {
            "type": "icon",
            "value": "layers"
          },
          "description": "",
          "creatorId": "1f4b211e-4207-4549-afaf-c605d4924548"
        }
      }
    ],
    "tags": [],
    "activeVersion": {
      "updatedAt": "2026-05-28T07:24:59.000Z",
      "createdAt": "2026-05-28T07:23:55.540Z",
      "versionId": "89c42770-7084-4625-9832-294de1795658",
      "workflowId": "AK1TBv9sw4twK8NO",
      "nodes": [
        {
          "parameters": {
            "pollTimes": {
              "item": [
                {
                  "mode": "everyMinute"
                }
              ]
            },
            "filters": {
              "q": "-label:FiltroK-Processed -from:d.dalmolin07@gmail.com",
              "readStatus": "unread"
            }
          },
          "id": "6bc8ba74-ce4d-48fa-94b1-52f3dbc0759b",
          "name": "Ascolta Nuove Email Gmail",
          "type": "n8n-nodes-base.gmailTrigger",
          "typeVersion": 1.3,
          "position": [
            -2912,
            576
          ],
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "a1",
                  "name": "sender",
                  "value": "={{ $json.From }}",
                  "type": "string"
                },
                {
                  "id": "a2",
                  "name": "subject",
                  "value": "={{ $json.Subject }}",
                  "type": "string"
                },
                {
                  "id": "a3",
                  "name": "body",
                  "value": "={{ $json.text ?? ($json.html ? $json.html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim() : $json.snippet) }}",
                  "type": "string"
                },
                {
                  "id": "a4",
                  "name": "threadId",
                  "value": "={{ $json.threadId }}",
                  "type": "string"
                },
                {
                  "id": "a5",
                  "name": "messageId",
                  "value": "={{ $json.id }}",
                  "type": "string"
                }
              ],
              "assignments[2]": {
                "value": "={{ $json.text ?? ($json.html ? $json.html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim() : $json.snippet) }}"
              }
            },
            "options": {}
          },
          "id": "dafd64fe-3b3f-4f76-a8cb-b444075c7907",
          "name": "Prepara Dati Email",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            -2720,
            576
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un classificatore di email clienti.\n\nIl tuo compito è analizzare il contenuto dell’email e classificare la richiesta in UNA SOLA categoria, restituendo esclusivamente un JSON valido.\n\nNON aggiungere testo, NON usare markdown, NON inserire spiegazioni.\n\nCATEGORIE:\n- \"SPEDIZIONE_CON_CODICE\": il cliente chiede informazioni su una spedizione E nel testo è presente un codice identificativo esplicito (numero ordine, codice tracking, ID spedizione)\n- \"SPEDIZIONE_SENZA_CODICE\": il cliente chiede informazioni su una spedizione ma NON è presente alcun codice identificativo valido\n- \"QNA\": qualsiasi altra richiesta (prodotti, resi, pagamenti, informazioni generiche, reclami non legati a una spedizione specifica)\n\nDEFINIZIONE DI CODICE VALIDO:\n- sequenze alfanumeriche o numeriche usate come identificativo ordine/spedizione\n- esempi: \"12345\", \"#12345\", \"ORD-12345\", \"TRK987654\"\n- NON sono codici validi: numeri di telefono, CAP, date, importi\n\nREGOLE:\n- Se il cliente chiede stato spedizione SENZA codice → \"SPEDIZIONE_SENZA_CODICE\"\n- Se è presente un codice valido → \"SPEDIZIONE_CON_CODICE\"\n- Se ci sono più numeri, scegli quello più probabile come codice ordine/spedizione\n- Se NON sei sicuro → usa \"QNA\"\n- NON inventare mai un codice\n\nOUTPUT OBBLIGATORIO:\nRestituisci SOLO questo JSON:\n\n{\n  \"categoria\": \"SPEDIZIONE_CON_CODICE | SPEDIZIONE_SENZA_CODICE | QNA\",\n  \"codice_spedizione\": \"string oppure null\"\n}\n\nREGOLE OUTPUT:\n- Se non esiste un codice → \"codice_spedizione\": null\n- NON aggiungere testo prima o dopo il JSON\n- NON usare markdown\n- Il JSON deve essere valido\n\nOggetto email: {{ $('Prepara Dati Email').item.json.subject }}\nTesto email: {{ $('Prepara Dati Email').item.json.body }}",
            "batching": {}
          },
          "id": "77f0b880-7d73-42f5-b78f-912fa255467a",
          "name": "Classifica Tipo Richiesta",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -2512,
            576
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "list",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {
              "temperature": 0
            }
          },
          "id": "d1588891-6331-4f1a-9487-d2bd746c54f3",
          "name": "OpenAI - Classificatore",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            -2512,
            752
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const source = $input.first().json;\nconst raw = source.output ?? source.text ?? '';\n\nlet parsed = null;\n\n// 1. Prova parsing diretto JSON\ntry {\n  const clean = String(raw)\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/g, '')\n    .trim();\n\n  parsed = JSON.parse(clean);\n} catch (e) {\n  // 2. Prova a estrarre un JSON dal testo\n  try {\n    const clean = String(raw)\n      .replace(/```json\\s*/gi, '')\n      .replace(/```\\s*/g, '')\n      .trim();\n\n    const match = clean.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      parsed = JSON.parse(match[0]);\n    }\n  } catch (e2) {\n    parsed = null;\n  }\n}\n\n// 3. Se non c'è JSON valido, prova lettura testuale\nlet categoria = null;\nlet codice_spedizione = null;\n\nif (parsed && typeof parsed === 'object') {\n  categoria = parsed.categoria ?? null;\n  codice_spedizione = parsed.codice_spedizione ?? null;\n} else {\n  const lower = String(raw).toLowerCase();\n\n  if (lower.includes('spedizione con codice')) {\n    categoria = 'SPEDIZIONE_CON_CODICE';\n  } else if (lower.includes('spedizione senza codice')) {\n    categoria = 'SPEDIZIONE_SENZA_CODICE';\n  } else if (lower.includes('qna') || lower.includes('q&a')) {\n    categoria = 'QNA';\n  }\n\n  const codiceMatch = String(raw).match(/codice(?:_spedizione)?[\"':\\s]*([A-Za-z0-9#\\-_]+)/i);\n  if (codiceMatch) {\n    codice_spedizione = codiceMatch[1];\n  }\n}\n\n// 4. Normalizzazione categoria\nif (typeof categoria === 'string') {\n  const normalized = categoria.trim().toLowerCase();\n\n  if (normalized === 'spedizione_con_codice' || normalized === 'spedizione con codice') {\n    categoria = 'SPEDIZIONE_CON_CODICE';\n  } else if (normalized === 'spedizione_senza_codice' || normalized === 'spedizione senza codice') {\n    categoria = 'SPEDIZIONE_SENZA_CODICE';\n  } else if (normalized === 'qna' || normalized === 'q&a') {\n    categoria = 'QNA';\n  } else {\n    categoria = 'QNA';\n  }\n} else {\n  categoria = 'QNA';\n}\n\nreturn [{\n  json: {\n    categoria,\n    codice_spedizione: codice_spedizione ?? null\n  }\n}];"
          },
          "id": "5f6b0e49-e0c0-401e-988b-da647bd7902c",
          "name": "Parsa Classificazione AI",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -2176,
            576
          ]
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "SPEDIZIONE_CON_CODICE",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "009c41c3-eae5-46c8-83cc-d255702e1191"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "spedizione_con_codice"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "SPEDIZIONE_SENZA_CODICE",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "41bdb40d-5104-43c8-b4bb-5a700f3e0edc"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "spedizione_senza_codice"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 1
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.categoria }}",
                        "rightValue": "QNA",
                        "operator": {
                          "type": "string",
                          "operation": "equals"
                        },
                        "id": "43bef64c-facc-4270-aa52-100119b15f72"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "qna"
                }
              ]
            },
            "options": {
              "fallbackOutput": "extra"
            }
          },
          "id": "3976f8f8-43bc-4791-a52e-b6449b7fd015",
          "name": "Router per Tipo Richiesta",
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.1,
          "position": [
            -1904,
            544
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {
              "temperature": 0
            }
          },
          "id": "479fd7b6-81b1-4f2e-88e6-7a3f7d2e0e09",
          "name": "OpenAI - Estrai Ordine",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            -1424,
            560
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "c04",
                  "leftValue": "={{ $json.text.trim().toUpperCase() }}",
                  "rightValue": "ASSENTE",
                  "operator": {
                    "type": "string",
                    "operation": "notEquals"
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "498de863-9d94-46af-bae4-63666b8df520",
          "name": "Numero Ordine Presente?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -1152,
            400
          ]
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = $json.text || $json.output || '';\nconst cleaned = String(raw)\n  .trim()\n  .replace(/```/g, '')\n  .replace(/^#+/, '')\n  .replace(/^ORD-?/i, '')\n  .replace(/\\s+/g, '');\n\nreturn {\n  json: {\n    ...$json,\n    order_number: cleaned\n  }\n};"
          },
          "id": "a3597755-02f8-4deb-8101-6832ea7e6864",
          "name": "Normalizza Numero Ordine",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -880,
            304
          ]
        },
        {
          "parameters": {
            "operation": "select",
            "table": {
              "__rl": true,
              "value": "ps_order_carrier",
              "mode": "name"
            },
            "limit": 1,
            "where": {
              "values": [
                {
                  "column": "id_order",
                  "value": "={{ $json.order_number }}"
                }
              ]
            },
            "options": {}
          },
          "id": "0295ca24-c3ff-4548-bea3-0e5b30c9bd66",
          "name": "Select rows from a table",
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -608,
            304
          ],
          "alwaysOutputData": true,
          "retryOnFail": true,
          "waitBetweenTries": 5000,
          "credentials": {
            "mySql": {
              "id": "2IeEYPybHF8b2rpg",
              "name": "MySQL account"
            }
          },
          "onError": "continueErrorOutput"
        },
        {
          "parameters": {
            "jsCode": "const orderNum = $('Normalizza Numero Ordine').first().json.order_number;\nconst allRows = $input.all();\nconst match = allRows.find(r => String(r.json.numero_ordine || '').trim() === orderNum);\nreturn [{\n  json: {\n    ordine_trovato: !!match,\n    order_number_searched: orderNum,\n    shipping_data: match ? JSON.stringify(match.json) : null\n  }\n}];"
          },
          "id": "cadc864d-fe4f-4d74-a75e-2d0e1366207c",
          "name": "Filtra Ordine",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -336,
            304
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 2
              },
              "conditions": [
                {
                  "id": "c05",
                  "leftValue": "={{ $json.ordine_trovato }}",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "4633d1c3-56c0-4c30-ab21-7e77221b4248",
          "name": "Ordine Trovato?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -64,
            304
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un assistente clienti professionale.\n\nIl tuo compito è scrivere una risposta email al cliente utilizzando ESCLUSIVAMENTE i dati di spedizione forniti.\n\nREGOLE CRITICHE:\n- Usa SOLO i dati presenti in \"shipping_data\"\n- NON inventare informazioni\n- NON dedurre dati mancanti\n- Se un dato non è presente → NON menzionarlo\n- NON costruire link di tracking se non è già fornito\n\nTONO:\n- Cordiale, professionale, chiaro\n- Linguaggio semplice e comprensibile per il cliente\n\nCONTENUTO:\nSe disponibili, includi:\n- stato della spedizione\n- nome del corriere\n- codice tracking\n- link tracking (solo se presente nei dati)\n\nSTRUTTURA:\n- Apertura naturale (varia leggermente)\n- Corpo con informazioni spedizione\n- Chiusura breve e disponibile\n\nLINEE GUIDA:\n- Non elencare dati in modo tecnico\n- Trasforma i dati in una frase fluida\n- Evita frasi spezzate o incomplete\n\nOUTPUT:\n- Scrivi SOLO il testo dell’email\n- Nessun JSON\n- Nessun markdown\n- Nessuna firma automatica\n- Nessun testo extra\n\nDATI SPEDIZIONE:\n{{ $json.shipping_data }}\n\nRICHIESTA CLIENTE:\n{{ $('Prepara Dati Email').item.json.body }}",
            "batching": {}
          },
          "id": "02b975a2-a4e8-4d1b-9d5e-5ef2e1e24713",
          "name": "Genera Risposta Spedizione",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            208,
            160
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "id": "61867396-6659-4870-9322-1ab0937e897b",
          "name": "OpenAI - Risposta Sped",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            208,
            0
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un assistente clienti.\n\nIl tuo compito è rispondere a un cliente che ha fornito un numero ordine, ma per il quale non è stata trovata alcuna corrispondenza nei sistemi.\n\nREGOLE:\n- NON menzionare errori tecnici o problemi interni\n- NON usare termini tecnici come “spedizione non trovata nel database”\n- Comunica in modo chiaro e rassicurante\n- Tono: cordiale, empatico, professionale\n- Lunghezza: 3-5 frasi\n\nOBIETTIVO:\n- Ringraziare il cliente per il contatto\n- Comunicare che non è stato possibile trovare il riferimento indicato\n- Chiedere gentilmente di verificare il numero ordine\n- Invitare a reinviarlo corretto\n\nLINEE GUIDA:\n- Puoi citare il numero ordine fornito dal cliente\n- Evita tono accusatorio\n- Dai l’idea che il problema sia risolvibile rapidamente\n\nOUTPUT:\n- Scrivi SOLO il testo dell’email\n- Nessun JSON\n- Nessuna firma automatica\n- Nessun testo extra\n\nNumero ordine fornito: {{ $json.order_number_searched }}",
            "batching": {}
          },
          "id": "ae58f52f-495f-4fc5-8153-818eb05f6423",
          "name": "Genera Risposta Ordine Non Trovato",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            208,
            400
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "id": "11dd0b72-9e79-45fe-82d0-733721e1c3e7",
          "name": "OpenAI - Ordine Non Trovato",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            208,
            560
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un assistente clienti. Il cliente chiede della spedizione ma non ha fornito il numero ordine.\n\nScrivi una risposta cortese che chieda il numero ordine.\n- Tono: caldo, professionale\n- Spiega perché serve\n- Lunghezza: 2-4 frasi per il corpo\n- Varia l'apertura\n\nFORMATO OBBLIGATORIO (rispetta esattamente questa struttura, senza blocchi markdown):\nOggetto: <oggetto sintetico della mail>\n\n<corpo del messaggio>\n\nOggetto email cliente: {{ $('Prepara Dati Email').item.json.subject }}",
            "batching": {}
          },
          "id": "dc29f64b-beac-4f59-a680-e2325252400e",
          "name": "Genera Richiesta Numero Ordine",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -880,
            560
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "id": "2f4d4792-71ec-4eae-abb9-d6d0b38ef83f",
          "name": "OpenAI - Richiesta Ordine",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            -880,
            736
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Analizza il contenuto dell’email e identifica se è presente un numero ordine o codice spedizione.\n\nDEFINIZIONE:\nUn numero ordine è un identificativo fornito dal cliente, tipicamente:\n- numerico (es: 12345)\n- alfanumerico (es: ORD-12345, TRK987654)\n\nNON sono numeri ordine:\n- numeri di telefono\n- CAP\n- date\n- importi\n\nREGOLE:\n- Se è presente un numero ordine, restituisci SOLO il valore esatto come appare nel testo\n- NON modificare, NON normalizzare, NON aggiungere caratteri\n- Se ci sono più numeri, scegli quello più probabile come identificativo ordine/spedizione\n- NON inventare numeri\n- Se non sei sicuro → rispondi ASSENTE\n\nOUTPUT:\n- SOLO il numero ordine oppure ASSENTE\n- Nessun testo aggiuntivo\n- Nessun markdown\n- Nessuna spiegazione\n\nOggetto: {{ $('Prepara Dati Email').item.json.subject }}\nTesto: {{ $('Prepara Dati Email').item.json.body }}",
            "batching": {}
          },
          "id": "c3913447-f200-470f-b3c7-6a3f80c37514",
          "name": "Estrai Numero Ordine",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -1424,
            400
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
            "subject": "={{ $json.email_subject }}",
            "emailType": "text",
            "message": "={{ $json.email_body }}",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            -384,
            560
          ],
          "id": "a9349a39-6e78-4b90-959a-daeca07faf7d",
          "name": "Invia Gmail Richiedi Numero Ordine",
          "webhookId": "7aafa613-0d7e-4352-ae04-146529713960",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
          },
          "id": "a8399d0b-4f87-48d8-93b9-334207b28c17",
          "name": "Parsa Oggetto e Corpo Email",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -560,
            560
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
            "subject": "={{ $json.email_subject }}",
            "emailType": "text",
            "message": "={{ $json.email_body }}",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            720,
            400
          ],
          "id": "3c37603b-0735-4011-afbc-62ecd9eb7622",
          "name": "Invia Gmail Richiedi Numero Ordine1",
          "webhookId": "e4da7eda-0e56-4220-927d-b7ff268e909e",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
          },
          "id": "5f0b95ea-0215-4635-8938-0f389bc7a4f0",
          "name": "Parsa Oggetto e Corpo Email1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            528,
            400
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $('Prepara Dati Email').item.json.sender }}",
            "subject": "={{ $json.email_subject }}",
            "emailType": "text",
            "message": "={{ $json.email_body }}",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            752,
            160
          ],
          "id": "d3e57608-ec05-49c4-ba56-4b28aa26d9a9",
          "name": "Invia Gmail Richiedi Numero Ordine2",
          "webhookId": "8ba95981-204c-497c-8409-25de2542bdfa",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\n\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\n\nlet subject, body;\n\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\n\nreturn { json: { email_subject: subject, email_body: body } };\n"
          },
          "id": "c751612c-73af-46cd-9d39-06b7b59d9b11",
          "name": "Parsa Oggetto e Corpo Email2",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            560,
            160
          ]
        },
        {
          "parameters": {
            "sendTo": "d.dalmolin07@gmail.com",
            "subject": "=Errore sistema MySQL",
            "emailType": "text",
            "message": "=Errore sistema MySQL",
            "options": {}
          },
          "id": "26b9c189-2d6a-43f2-a9c7-849d17f2dfeb",
          "name": "Invia Gmail Interna ad Addetto1",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            -128,
            112
          ],
          "webhookId": "0212910f-f9c3-4eb9-b4d6-57455884be3a",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
            "subject": "=Re: {{ $('Ascolta Nuove Email Gmail').item.json.Subject }}",
            "emailType": "text",
            "message": "=Buongiorno, ci scusamo per il disagio ma abbiamo riscontrato un errore nel nostro sistema, a breve risponderemo a tutti le richieste.",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            -320,
            112
          ],
          "id": "ebaf582d-b812-479a-9569-039d1cf857a2",
          "name": "Presa in carico cliente1",
          "webhookId": "3a5d46fc-a50f-445f-a152-ee05243f3027",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          }
        },
        {
          "parameters": {
            "tableId": "email_requests",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "id",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.messageId }}"
                },
                {
                  "fieldId": "timestamp_arrivo",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.timestamp ?? $now.toISO() }}"
                },
                {
                  "fieldId": "mittente_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.sender }}"
                },
                {
                  "fieldId": "oggetto_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.subject }}"
                },
                {
                  "fieldId": "testo_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.body }}"
                },
                {
                  "fieldId": "stato",
                  "fieldValue": "risolta_ai"
                },
                {
                  "fieldId": "timestamp_risolto",
                  "fieldValue": "={{ $now.toISO() }}"
                },
                {
                  "fieldId": "risposta_inviata",
                  "fieldValue": "={{ $('Parsa e Valida JSON AI1').item.json.response_text }}"
                }
              ]
            }
          },
          "id": "bd87e567-0e7e-4eca-bf10-92660f89a5b7",
          "name": "Log Richiesta AI Handled",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -96,
            928
          ],
          "credentials": {
            "supabaseApi": {
              "id": "6exE1PGVlPWOLmzf",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "tableId": "email_requests",
            "fieldsUi": {
              "fieldValues": [
                {
                  "fieldId": "id",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.messageId }}"
                },
                {
                  "fieldId": "timestamp_arrivo",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.timestamp ?? $now.toISO() }}"
                },
                {
                  "fieldId": "mittente_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.sender }}"
                },
                {
                  "fieldId": "oggetto_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.subject }}"
                },
                {
                  "fieldId": "testo_email",
                  "fieldValue": "={{ $('Prepara Dati Email').item.json.body }}"
                },
                {
                  "fieldId": "stato",
                  "fieldValue": "in_attesa_addetto"
                }
              ]
            }
          },
          "id": "c4637e7f-0600-491b-8756-4c80df5a9b8a",
          "name": "Log Richiesta Escalated",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            544,
            1168
          ],
          "credentials": {
            "supabaseApi": {
              "id": "6exE1PGVlPWOLmzf",
              "name": "Supabase account"
            }
          }
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un assistente clienti cordiale e professionale. Rispondi alle richieste dei clienti basandoti esclusivamente sui contenuti della knowledge base fornita.\n\nREGOLE:\n1. Usa SOLO informazioni presenti nei documenti — non inventare, non dedurre\n2. Se la risposta non è presente → has_answer: false\n3. Se è solo parziale o incerta → has_answer: false\n4. Quando has_answer è true: scrivi una risposta completa, calda e naturale — come se stessi parlando direttamente con il cliente. Inizia salutando, fornisci tutte le informazioni utili, concludi con disponibilità a ulteriori domande.\n\nFORMATO OUTPUT OBBLIGATORIO — solo JSON valido, senza testo aggiuntivo:\n\n{\n  \"has_answer\": true,\n  \"response_text\": \"risposta completa, cordiale e ben strutturata per il cliente\",\n  \"summary\": \"max 4 parole\"\n}\n\nSe has_answer è false:\n{\n  \"has_answer\": false,\n  \"response_text\": \"\",\n  \"summary\": \"max 4 parole\"\n}\n\n--- KNOWLEDGE BASE ---\n{{ $json.docs_text }}\n\n{{ $json.sheets_kb ? '--- FAQ ---\\n' + $json.sheets_kb : '' }}\n\n--- RICHIESTA CLIENTE ---\nOggetto: {{ $('Prepara Dati Email').item.json.subject }}\nTesto: {{ $('Prepara Dati Email').item.json.body }}",
            "batching": {}
          },
          "id": "f987d256-a508-4eba-b279-1d073485480f",
          "name": "Genera Risposta da KB1",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -1104,
            1040
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "id": "f47b1ec8-c11c-4317-9556-7400a071b5ae",
          "name": "OpenAI - Genera KB1",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            -1104,
            1216
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "let parsed;\ntry {\n  const raw = $json.text || $json.output || '';\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  parsed = { has_answer: false, response_text: '', summary: 'Errore parsing risposta AI' };\n}\n\nreturn { json: {\n  has_answer: parsed.has_answer === true,\n  response_text: parsed.response_text || '',\n  summary: parsed.summary || ''\n} };"
          },
          "id": "fe691808-b671-495b-9a34-5e391649b160",
          "name": "Parsa e Valida JSON AI1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -656,
            1040
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "c06",
                  "leftValue": "={{ $json.has_answer }}",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "a598c5f1-efe0-493c-ad49-0518d4f5482a",
          "name": "Risposta Disponibile?1",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            -384,
            1040
          ]
        },
        {
          "parameters": {
            "promptType": "define",
            "text": "=Sei un assistente clienti cordiale e professionale.\n\nIl tuo compito è inviare una conferma di presa in carico della richiesta del cliente.\n\nREGOLE:\n- NON spiegare che non sei riuscito a rispondere\n- NON menzionare AI, documenti, sistemi o processi interni\n- Comunica che la richiesta è stata ricevuta e verrà gestita dal team\n- Tono: caldo, rassicurante, professionale\n- Messaggio: 2-3 frasi complete e naturali\n\nSTRUTTURA MESSAGGIO:\n- Frase 1: conferma ricezione della richiesta (puoi riprendere brevemente l'argomento)\n- Frase 2: rassicurazione sulla presa in carico da parte del team\n- Frase 3 (opzionale): tempi indicativi o disponibilità a ulteriori domande\n\nOUTPUT OBBLIGATORIO - rispetta esattamente questo formato, nessun testo extra:\nOggetto: [oggetto breve e pertinente, max 8 parole]\n\n[messaggio completo per il cliente]\n\nOggetto email ricevuta: {{ $('Prepara Dati Email').item.json.subject }}",
            "batching": {}
          },
          "id": "0138ae61-fdda-4f11-ae0d-c578a2d6c58b",
          "name": "Genera Email Presa in Carico1",
          "type": "@n8n/n8n-nodes-langchain.chainLlm",
          "typeVersion": 1.9,
          "position": [
            -112,
            1168
          ]
        },
        {
          "parameters": {
            "model": {
              "__rl": true,
              "mode": "id",
              "value": "gpt-4o-mini"
            },
            "builtInTools": {},
            "options": {}
          },
          "id": "54dd6f15-98ca-4a96-9f61-b1d552bb0e70",
          "name": "OpenAI - Presa in Carico1",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "typeVersion": 1.3,
          "position": [
            -112,
            1344
          ],
          "credentials": {
            "openAiApi": {
              "id": "ban0bSnAtf1pvCgV",
              "name": "OpenAI account"
            }
          }
        },
        {
          "parameters": {
            "sendTo": "d.dalmolin07@gmail.com",
            "subject": "={{ '[RICHIESTA CLIENTE] ' + $('Prepara Dati Email').item.json.subject }}",
            "emailType": "text",
            "message": "={{ 'Mittente: ' + $('Prepara Dati Email').item.json.sender + '\\n\\nOggetto: ' + $('Prepara Dati Email').item.json.subject + '\\n\\nRichiesta:\\n' + $('Prepara Dati Email').item.json.body + '\\n\\n---\\nSintesi AI: ' + $('Parsa e Valida JSON AI1').item.json.summary }}",
            "options": {}
          },
          "id": "7dabfdfa-dc57-4f68-a73e-7332d8a141dc",
          "name": "Invia Gmail Interna ad Addetto2",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            1024,
            1168
          ],
          "webhookId": "6188781c-1f1b-47b9-8759-734ce7651bfd",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { docs_text: 'Nessuna FAQ disponibile.', totale_righe: 0 } }];\n}\nconst righe = items.map((it, i) => `Q${i+1}: ${it.json.domanda ?? ''}\\nA${i+1}: ${it.json.risposta ?? ''}`);\nreturn [{ json: { docs_text: righe.join('\\n\\n'), totale_righe: items.length } }];"
          },
          "id": "833d7037-4d35-44a1-8e45-be79c8d67cb0",
          "name": "Estrai Testo da Google Docs1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -1376,
            1040
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
            "subject": "={{ $('Parsa e Valida JSON AI1').item.json.summary }}",
            "emailType": "text",
            "message": "={{ $('Parsa e Valida JSON AI1').item.json.response_text }}",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            160,
            928
          ],
          "id": "6812a84f-3713-4104-96d1-60e332f31683",
          "name": "Send a message",
          "webhookId": "e92bbd60-7986-49fe-b8b5-d1a0f7946a19",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          }
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "jsCode": "const raw = ($json.text != null) ? String($json.text) : '';\nconst matchDouble = raw.match(/^Oggetto:\\s*(.+?)\\n\\n([\\s\\S]*)$/);\nconst matchSingle = raw.match(/^Oggetto:\\s*(.+?)\\n([\\s\\S]*)$/);\nlet subject, body;\nif (matchDouble) {\n  subject = (matchDouble[1] || '').trim();\n  body = (matchDouble[2] || '').trim();\n} else if (matchSingle) {\n  subject = (matchSingle[1] || '').trim();\n  body = (matchSingle[2] || '').trim();\n} else {\n  subject = 'Re: ' + (($('Prepara Dati Email').item.json.subject) || '');\n  body = raw.trim();\n}\nreturn { json: { email_subject: subject, email_body: body } };"
          },
          "id": "6ad9c42f-d507-4344-8645-c94b4a5b49da",
          "name": "Parsa Oggetto e Corpo Email Presa in Carico1",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            256,
            1168
          ]
        },
        {
          "parameters": {
            "sendTo": "={{ $('Ascolta Nuove Email Gmail').item.json.From }}",
            "subject": "={{ $('Parsa Oggetto e Corpo Email Presa in Carico1').item.json.email_subject }}",
            "emailType": "text",
            "message": "={{ $('Parsa Oggetto e Corpo Email Presa in Carico1').item.json.email_body }}",
            "options": {}
          },
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.2,
          "position": [
            816,
            1168
          ],
          "id": "52721c17-633c-4405-b565-9e45f23720ff",
          "name": "Presa in carico cliente2",
          "webhookId": "1c646cae-875f-4797-97a6-303c44f4dec7",
          "credentials": {
            "gmailOAuth2": {
              "id": "VyeYiG7kPYZqb6Sm",
              "name": "Gmail Admin Attivo"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "kb_faq",
            "returnAll": true,
            "filterType": "none"
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -1568,
            1040
          ],
          "id": "dc7f3145-74ad-4692-a100-76425d350723",
          "name": "Get many rows",
          "credentials": {
            "supabaseApi": {
              "id": "6exE1PGVlPWOLmzf",
              "name": "Supabase account"
            }
          }
        }
      ],
      "connections": {
        "Ascolta Nuove Email Gmail": {
          "main": [
            [
              {
                "node": "Prepara Dati Email",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepara Dati Email": {
          "main": [
            [
              {
                "node": "Classifica Tipo Richiesta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Classificatore": {
          "ai_languageModel": [
            [
              {
                "node": "Classifica Tipo Richiesta",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Classifica Tipo Richiesta": {
          "main": [
            [
              {
                "node": "Parsa Classificazione AI",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parsa Classificazione AI": {
          "main": [
            [
              {
                "node": "Router per Tipo Richiesta",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Router per Tipo Richiesta": {
          "main": [
            [
              {
                "node": "Estrai Numero Ordine",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Genera Richiesta Numero Ordine",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Get many rows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Estrai Ordine": {
          "ai_languageModel": [
            [
              {
                "node": "Estrai Numero Ordine",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Numero Ordine Presente?": {
          "main": [
            [
              {
                "node": "Normalizza Numero Ordine",
                "type": "main",
                "index": 0
              }
            ],
            []
          ]
        },
        "Normalizza Numero Ordine": {
          "main": [
            [
              {
                "node": "Select rows from a table",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Select rows from a table": {
          "main": [
            [
              {
                "node": "Filtra Ordine",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Presa in carico cliente1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Filtra Ordine": {
          "main": [
            [
              {
                "node": "Ordine Trovato?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Ordine Trovato?": {
          "main": [
            [
              {
                "node": "Genera Risposta Spedizione",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Genera Risposta Ordine Non Trovato",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Risposta Sped": {
          "ai_languageModel": [
            [
              {
                "node": "Genera Risposta Spedizione",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Genera Risposta Spedizione": {
          "main": [
            [
              {
                "node": "Parsa Oggetto e Corpo Email2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Ordine Non Trovato": {
          "ai_languageModel": [
            [
              {
                "node": "Genera Risposta Ordine Non Trovato",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Genera Risposta Ordine Non Trovato": {
          "main": [
            [
              {
                "node": "Parsa Oggetto e Corpo Email1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Richiesta Ordine": {
          "ai_languageModel": [
            [
              {
                "node": "Genera Richiesta Numero Ordine",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Genera Richiesta Numero Ordine": {
          "main": [
            [
              {
                "node": "Parsa Oggetto e Corpo Email",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Estrai Numero Ordine": {
          "main": [
            [
              {
                "node": "Numero Ordine Presente?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parsa Oggetto e Corpo Email": {
          "main": [
            [
              {
                "node": "Invia Gmail Richiedi Numero Ordine",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parsa Oggetto e Corpo Email1": {
          "main": [
            [
              {
                "node": "Invia Gmail Richiedi Numero Ordine1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parsa Oggetto e Corpo Email2": {
          "main": [
            [
              {
                "node": "Invia Gmail Richiedi Numero Ordine2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Presa in carico cliente1": {
          "main": [
            [
              {
                "node": "Invia Gmail Interna ad Addetto1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Genera Risposta da KB1": {
          "main": [
            [
              {
                "node": "Parsa e Valida JSON AI1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Genera KB1": {
          "ai_languageModel": [
            [
              {
                "node": "Genera Risposta da KB1",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Parsa e Valida JSON AI1": {
          "main": [
            [
              {
                "node": "Risposta Disponibile?1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Risposta Disponibile?1": {
          "main": [
            [
              {
                "node": "Log Richiesta AI Handled",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Genera Email Presa in Carico1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Genera Email Presa in Carico1": {
          "main": [
            [
              {
                "node": "Parsa Oggetto e Corpo Email Presa in Carico1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI - Presa in Carico1": {
          "ai_languageModel": [
            [
              {
                "node": "Genera Email Presa in Carico1",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Estrai Testo da Google Docs1": {
          "main": [
            [
              {
                "node": "Genera Risposta da KB1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get many rows": {
          "main": [
            [
              {
                "node": "Estrai Testo da Google Docs1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Richiesta AI Handled": {
          "main": [
            [
              {
                "node": "Send a message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Parsa Oggetto e Corpo Email Presa in Carico1": {
          "main": [
            [
              {
                "node": "Log Richiesta Escalated",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Log Richiesta Escalated": {
          "main": [
            [
              {
                "node": "Presa in carico cliente2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Presa in carico cliente2": {
          "main": [
            [
              {
                "node": "Invia Gmail Interna ad Addetto2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Daniele Dal Molin",
      "name": "Version with admin account",
      "description": "",
      "autosaved": true,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-05-28T07:24:59.038Z",
          "id": 34,
          "workflowId": "AK1TBv9sw4twK8NO",
          "versionId": "89c42770-7084-4625-9832-294de1795658",
          "event": "activated",
          "userId": "1f4b211e-4207-4549-afaf-c605d4924548"
        }
      ]
    }
  }
}