workflows/kb-aggiungi-faq_backup_20260520.json
{
  "id": "RaO4DKjVngSd3mbg",
  "name": "KB - Aggiungi FAQ - Webhook",
  "active": false,
  "nodes": [
    { "id": "node-webhook", "name": "Webhook KB Add", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [240, 300], "parameters": { "httpMethod": "POST", "path": "kb/add", "responseMode": "responseNode" }, "webhookId": "5923d72c-3cfd-4f08-a3fa-b0a7307f3223", "onError": "continueRegularOutput" },
    { "id": "node-if", "name": "Controlla API Key", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [460, 300], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "cond-1", "leftValue": "={{ $json.headers[\"x-api-key\"] }}", "rightValue": "fk-kb-api-2026", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } } },
    { "id": "node-sheets", "name": "Aggiungi Voce KB", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [700, 200], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "1w80b1u9P7bpq1AqcCiEskE-4hEJCRf2ilJdcxKAIBMc", "mode": "id" }, "sheetName": { "__rl": true, "value": "Foglio1", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "Domanda": "={{ $json.body.domanda }}", "Risposta": "={{ $json.body.risposta }}" } }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "zr5BaMYSNlfECQZg", "name": "Google Sheets OAuth2 API" } } },
    { "id": "node-respond-ok", "name": "Risposta Aggiunta OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [940, 200], "parameters": { "respondWith": "json", "responseBody": "={\"success\": true, \"message\": \"FAQ aggiunta con successo\"}" } },
    { "id": "node-respond-unauth", "name": "Risposta Non Autorizzato", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [700, 400], "parameters": { "respondWith": "json", "responseBody": "={\"success\": false, \"error\": \"Unauthorized\"}", "options": { "responseCode": 401 } } }
  ],
  "connections": {
    "Webhook KB Add": { "main": [[{ "node": "Controlla API Key", "type": "main", "index": 0 }]] },
    "Controlla API Key": { "main": [[{ "node": "Aggiungi Voce KB", "type": "main", "index": 0 }], [{ "node": "Risposta Non Autorizzato", "type": "main", "index": 0 }]] },
    "Aggiungi Voce KB": { "main": [[{ "node": "Risposta Aggiunta OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
