workflows/kb-modifica-faq_backup_20260520.json
{
  "id": "Qy0GY19iz5VwkZcD",
  "name": "KB - Modifica FAQ - Webhook",
  "active": false,
  "nodes": [
    { "id": "node-webhook", "name": "Webhook KB Update", "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [240, 300], "parameters": { "httpMethod": "PUT", "path": "kb/update", "responseMode": "responseNode" }, "onError": "continueRegularOutput", "webhookId": "2d44a471-bdef-4ebd-a684-3f54cc63d5d5" },
    { "id": "node-if", "name": "Controlla API Key", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [460, 300], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "id": "cond-1", "leftValue": "={{ $json.headers['x-api-key'] }}", "rightValue": "fk-kb-api-2026", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } } },
    { "id": "node-set", "name": "Prepara Dati Aggiornamento", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [680, 200], "parameters": { "mode": "manual", "assignments": { "assignments": [{ "id": "assign-1", "name": "row_number", "value": "={{ $json.body.id }}", "type": "number" }, { "id": "assign-2", "name": "Domanda", "value": "={{ $json.body.domanda }}", "type": "string" }, { "id": "assign-3", "name": "Risposta", "value": "={{ $json.body.risposta }}", "type": "string" }] } } },
    { "id": "node-gsheets", "name": "Aggiorna Voce KB", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.4, "position": [900, 200], "parameters": { "operation": "update", "documentId": { "__rl": true, "value": "1w80b1u9P7bpq1AqcCiEskE-4hEJCRf2ilJdcxKAIBMc", "mode": "id" }, "sheetName": { "__rl": true, "value": "Foglio1", "mode": "name" }, "range": "Foglio1!A:Z", "columns": { "mappingMode": "defineBelow", "value": { "row_number": "={{ $json.row_number }}", "Domanda": "={{ $json.Domanda }}", "Risposta": "={{ $json.Risposta }}" }, "matchingColumns": ["row_number"] } }, "credentials": { "googleSheetsOAuth2Api": { "id": "zr5BaMYSNlfECQZg", "name": "Google Sheets OAuth2 API" } } },
    { "id": "node-respond-ok", "name": "Risposta Modifica OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1120, 200], "parameters": { "respondWith": "json", "responseBody": "={\"success\": true, \"message\": \"FAQ aggiornata con successo\"}" } },
    { "id": "node-respond-unauth", "name": "Risposta Non Autorizzato", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [680, 420], "parameters": { "respondWith": "json", "responseBody": "={\"success\": false, \"error\": \"Unauthorized\"}", "options": { "responseCode": 401 } } }
  ],
  "connections": {
    "Webhook KB Update": { "main": [[{ "node": "Controlla API Key", "type": "main", "index": 0 }]] },
    "Controlla API Key": { "main": [[{ "node": "Prepara Dati Aggiornamento", "type": "main", "index": 0 }], [{ "node": "Risposta Non Autorizzato", "type": "main", "index": 0 }]] },
    "Prepara Dati Aggiornamento": { "main": [[{ "node": "Aggiorna Voce KB", "type": "main", "index": 0 }]] },
    "Aggiorna Voce KB": { "main": [[{ "node": "Risposta Modifica OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
